/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* COMMON */
.container{
    width: 80rem;
    margin: auto;
    height: 95%;
}
.container-main-aside{
    display: flex;
    height: calc(95vh - 3.875rem);
}
.h-80{
    min-height: 5rem;
}
/* BODY */
body{
    display: flex;
    background-image: linear-gradient(to top,#D9DBD4 80%, #009688 20%);
    height: 100vh;
}
/* HEADER */
header{
    background-color: #D9DBD4;
    display: flex;
}
header img{
    max-width: 3.125rem;
    border-radius: 100%;
    padding-right: .5rem;
}
/* parte sinistra header */
.header-aside{
    display: flex;
    justify-content: space-between;
    width: 30%;
    border-right: .125rem solid black;
    padding: .625rem;
}
.user{
    display: flex;
    align-items: center;
}
.header-left-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 20%;
}
/* parte destra header */
.header-right{
    display: flex;
    justify-content: space-between;
    padding: .625rem;
    width: 70%;
}
.header-contact{
    display: flex;
    align-items: center;
}
.header-right-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 10%;
}
/* ASIDE */
aside{
    background-color: red;
    width: 30%;
    display: flex;
    flex-direction: column;
}
/* attiva notifiche */
.notification{
    background-color: #8EDAFC;
    display: flex;
    padding: .625rem;
    align-items: center;
}
.bell{
    font-size: 1.25rem;
    border-radius: 100%;
    background-color: white;
    color: #8EDAFC;
    margin-right: .5rem;
    padding: .75rem;
}
/* MAIN */
main{
    background-color: green;
    width: 70%;
}