<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div class="container">
        <div id="app">
            <header>
                <!-- parte sinistra header -->
                <div class="header-aside">
                    <!-- immagine e nome utente -->
                    <div class="user">
                        <img src="img/avatar_2.jpg" class="avatar-image" alt="user image">
                        <span id="user-name">Riccardo</span>
                    </div>
                    <!-- /immagine e nome utente -->
                    <!-- icone parte sinistra header -->
                    <div class="header-left-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <!-- /icone parte sinistra header -->
                </div>
                <!-- /parte sinistra header -->
                <!-- parte destra header -->
                <div class="header-right">
                    <!-- immagine, nome e ultimo accesso contatto visualizzato -->
                    <div class="header-contact">
                        <img class="avatar-image" :src="`img/avatar${contacts[activeContact].avatar}.jpg`" alt="user image">
                        <div class="text">
                            <div class="name">{{contacts[activeContact].name}}</div>
                            <div class="last">Ultimo accesso oggi alle 12:00</div>
                        </div>
                    </div>
                    <!-- /immagine, nome e ultimo accesso contatto visualizzato -->
                    <!-- icone parte destra header -->
                    <div class="header-right-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <!-- /icone parte destra header -->
                </div>
                <!-- /parte destra header -->
            </header>
            <div class="container-main-aside">
                <aside>
                    <!-- attiva notifiche -->
                    <div class="notification h-80">
                        <div class="bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notification-text">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- /attiva notifiche -->
                    <!-- cerca contatto -->
                    <div class="search">
                        <button class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- /cerca contatto -->
                    <!-- lista contatti -->
                    <div class="contacts">
                        <div class="contact h-80" :class="activeContact===index ? 'active':''" v-for="(contact,index) in contacts" @click="changeActiveContact(index)">
                            <div class="contact-info">
                                <img class="avatar-image" :src="`img/avatar${contact.avatar}.jpg`" alt="Avatar Michele">
                                <div>
                                    <div class="contact-name">{{contact.name}}</div>
                                    <span class="last">Ultimo messaggio inviato</span>
                                </div>
                            </div>
                            <div class="last">12:00</div>
                        </div>
                    </div>
                    <!-- /lista contatti -->
                </aside>
                <main>
                    <!-- lista messaggi -->
                    <div class="messages">
                        <div class="messages-container">
                            <div class="message-container" v-for="message in contacts[activeContact].messages">
                                <div class="message" :class="message.status">
                                    {{message.message}}
                                    <span class="last">12:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /lista messaggi -->
                    <!-- input nuovo messaggio -->
                    <div class="new-message">
                        <div class="emoji">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <input type="text" placeholder="Scrivi un messaggio">
                        <div class="audio">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                    <!-- /input nuovo messaggio -->
                </main>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>